/* stylelint-disable docusaurus/copyright-header */
/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #4fa069;
  --ifm-color-primary-dark: #47905e;
  --ifm-color-primary-darker: #438859;
  --ifm-color-primary-darkest: #37704a;
  --ifm-color-primary-light: #5aad74;
  --ifm-color-primary-lighter: #62b17b;
  --ifm-color-primary-lightest: #7abd8f;
  --ifm-code-font-size: 95%;
}

.docusaurus-highlight-code-line {
  background-color: rgb(72, 77, 91);
  display: block;
  margin: 0 calc(-1 * var(--ifm-pre-padding));
  padding: 0 var(--ifm-pre-padding);
}

.select-comp{
  color: black;
}
html {
  scroll-padding-top: 70px; /* height of sticky header */
}